#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.blogdetail-desc{
  line-height: 5 !important;
}
.blogdetail-desc h2,h3, h4 {
    color: var(--head-color);
    font-size: 22px !important;
    margin: 12px;
    line-height: 1.5 !important;
    font-weight: 500 !important;
  }
 .blogdetail-desc p, li, a {
    color: var(--para-color);
    font-size: 15px;
    text-align: start;
    font-weight: 400;
  }


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

